.swiper-button-next {
  right: 45px;
}
.swiper-button-prev {
  left: 45px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999999;
  opacity: 1;
}
